<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <title>Ajouter / Modifier un Bibliothécaire</title>
  </head>
  <body>
    <h2>Ajouter / Modifier un Bibliothécaire</h2>

    <form action="/bibliothecaire" method="post">
      <label for="nom">Nom:</label><br />
      <input type="text" id="nom" name="nom" /><br />
      <label for="prenom">Prénom:</label><br />
      <input type="text" id="prenom" name="prenom" /><br />
      <label for="date_naissance">Date de Naissance:</label><br />
      <input type="date" id="date_naissance" name="date_naissance" /><br />
      <label for="cin">CIN:</label><br />
      <input type="text" id="cin" name="cin" /><br />
      <label for="lieu_naissance">Lieu de Naissance:</label><br />
      <input type="text" id="lieu_naissance" name="lieu_naissance" /><br />
      <label for="tel">Téléphone:</label><br />
      <input type="tel" id="tel" name="tel" /><br />
      <input type="submit" value="Ajouter / Modifier" />
    </form>
  </body>
</html>
